<h2>{{mensaje}}</h2>
<hr>
<div class="col-lg-12">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tracks a buscar</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="emitir()">
                    <div class="form-group">
                        <input type="text" ng-model="text1" placeholder="Parámetro 1 (apple)" class="form-control" required>
                        <input type="text" ng-model="text2" placeholder="Parámetro 2 (samsung)" class="form-control" required>
                        <button type="submit" class="col-lg-5 btn btn-success">Buscar</button>
                        <a ng-click="detener()" class="btn btn-info col-lg-5 pull-right">Parar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <canvas id="bar" class="chart chart-bar" chart-colours="data.colours" chart-data="data.data" chart-labels="data.labels" chart-options="data.opt"></canvas>
    </div>
    <div class="col-lg-3">
        <ul class="list-group">
            <li class="list-group-item myInfo">
                <span class="badge">{{cantidad}}</span> <strong>Total</strong>
            </li>
            <li class="list-group-item myWarning">
                <span class="badge">{{nulos}}</span> <strong>Nulos</strong>
            </li>
        </ul>
    </div>
</div>
