<br>
<h1 id="title">Tweets en tiempo real</h1>

<div class="container">
  <div class="row">

    <div id="styleBoxBuscador" class="effect8 boxHome col-lg-11 col-md-12 col-xs-12 text-center">
      <h2>Buscador de tweets</h2>
      <p>Averigua en tiempo real lo que se esta hablando en estos momentos mediante las palabras clave que mas te inquietan</p>
    </div>
    <div class="rotateText col-lg-1"><h3>M3</h3></div>

    <div id="styleBoxLocalizador" class="effect8 boxHome col-lg-9 col-lg-offset-2 col-md-12 col-xs-12 text-center">
      <h2>Localizador de tweets</h2>
      <p>Averigua en tiempo real las zonas en las que se están publicando tweets relacionados con lo que estás pensando en este momento</p>
    </div>
    <div class="rotateText col-lg-1"><h3>REAL</h3></div>

    <div id="styleBoxComparador" class="effect8 boxHome col-lg-7 col-lg-offset-4 col-md-12 col-xs-12 text-center">
      <h2>Comparador de tweets</h2>
      <p>Observa las nuevas estadísticas en tiempo real en este apartado y observa sobre que se está hablando más</p>
    </div>
    <div class="rotateText col-lg-1"><h3>TIME</h3></div>

  </div>
</div>
