<div class="formMap col-lg-4 panel panel-default">
	<div class="panel-body">
		<form ng-submit="emitir()">
			<div class="form-group">
				<input type="text" ng-model="text" placeholder="Introduce un término" class="form-control" required="require">
				<button type="submit" class="col-lg-5 btn btn-success" ng-disabled="!bool">Buscar</button>
				<button ng-click="detener()" class="btn btn-info col-lg-5 pull-right" ng-disabled="bool">Parar</button>
			</div>
		</form>
	</div>
</div>
<mapbox callback="callback"></mapbox>
