<div class="formMap col-lg-4 panel panel-default">
	<div class="panel-body">
		<form ng-submit="emitir()">
			<div class="form-group">
				<input type="text" ng-model="text" placeholder="Introduce un término" class="form-control" required="require">
				<button type="submit" class="col-lg-5 btn mySuccess" ng-disabled="!bool">Buscar</button>
				<button ng-click="detener()" class="btn mySuccess col-lg-5 pull-right" ng-disabled="bool">Parar</button>
			</div>
		</form>
	</div>
</div>
<div class="col-lg-3 col-md-3 col-xs-3 helperMap">
	<div class="col-lg-6 col-md-12 col-xs-12"><strong>Localizados {{cuentaTweetsCoord}}</strong></div>
	<div class="col-lg-6 col-md-12 col-xs-12"><strong>Recibidos {{cuentaTweets}}</strong></div>
</div>
<mapbox callback="callback"></mapbox>
