<div class="modal fade" id="modalInfoTweet" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"><strong>@{{moreInf.id}}</strong></h4>
      </div>
      <div class="col-lg-12" id="retweetShow" ng-show="moreInf.retweeted_status">
        <span>RT</span>
        <a target="_blank" href="https://twitter.com/{{moreInf.id}}/status/{{moreInf.id_str}}">@{{moreInf.retweeted_status}}</a>
      </div>
      <br>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-2"><img ng-src="{{imageInfo}}" alt="{{moreInf.id}}" class="img-circle"></div>
            <div class="col-lg-10">{{moreInf.t}}</div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <div class="col-lg-12">
            <div class="col-lg-6">
              <h4 class="text-center">Url's</h4>
              <ul>
                <li ng-repeat="url in moreInf.url"><a href="{{url.url}}" target="_blank">{{url.url}}</a></li>
                <li ng-show="moreInf.url.length === 0">Este Tweet no tiene Url's</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <h4 class="text-center">Hashtags</h4>
              <ul>
                <li ng-repeat="hashtag in moreInf.hashtag"><a href="https://twitter.com/hashtag/{{hashtag.text}}" target="_blank">#{{hashtag.text}}</a></li>
                <li ng-show="moreInf.hashtag.length === 0">Este Tweet no tiene Hashtags</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn" data-dismiss="modal">Cerrar</a>
        <a href="https://twitter.com/{{moreInf.id}}/status/{{moreInf.id_str}}" class="btn" target="_blank">Ver en Twitter</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<br>
<div class="col-lg-12 col-md-12">
  <div class="row">
    <div class="col-lg-12 col-md-12 pCol">
      <form ng-submit="emitir()" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="form-group">
          <label for="text">Introduce un término para buscar en streaming (Apple, Samsung ..)</label>
          <input type="text" ng-model="text" placeholder="Ejemplo: Miguel Hernandez" class="form-control" required="require">
          <button id="submitStream" type="submit" class="col-lg-5 col-md-5 col-sm-5 col-xs-5 btn mySuccess" ng-disabled="!bool">Buscar</button>
          <button ng-click="detener()" class="btn mySuccess col-lg-5 col-md-5 col-sm-5 col-xs-5 pull-right" ng-disabled="bool">Parar</button>
        </div>
      </form>
      <!-- {{debug}} -->
      <!-- {{topHashtag}} -->
      <!-- {{media}} -->
      <!-- {{realTime}} -->
    </div>
  </div>
</div>
<div class="col-lg-12 maxHeigth" ng-show="data.length === 0 && text && loader">
  <!-- <div class="col-lg-12 maxHeigth"> -->
  <div id="loader">
    <spam id="loader2">
      <h4 class="text-center" ng-hide="contador === 0"><strong>Buscando... {{contador}}s</strong></h4>
      <!-- Mensaje que no muestra por el bool -->
      <h4 class="text-center" ng-show="contador === 0"><strong>No se han encontrado resultados</strong></h4>
    </spam>
    <div ng-hide="contador === 0">
      <div id="d1"></div>
      <div id="d2"></div>
      <div id="d3"></div>
      <div id="d4"></div>
      <div id="d5"></div>
    </div>
  </div>
</div>
<div class="col-lg-8 minHeigth scroll" ng-hide="data.length === 0">
  <div class="row">
    <div class="col-lg-4 animateStream" ng-repeat="d in data track by $index">
      <div class="col-lg-12 panel panel-default box" ng-click="openModal(d.id_str)">
        <div class="media">
          <div class="media-left">
            <img class="media-object" ng-src="{{d.image}}" alt="...">
          </div>
          <div class="media-body box-text">
            <h4 class="media-heading"><strong>{{d.id}}</strong></h4>
            <p>{{d.t}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-1 minHeigth" ng-hide="data.length === 0"></div>
<div class="col-lg-3 minHeigth" ng-hide="data.length === 0">
  <div class="col-lg-12 topHashtagHeight scroll">
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item streamHashtag" ng-repeat="data in topHashtag | orderBy: '-cantidad'">
          <span class="badge">{{data.cantidad}}</span> <a href="https://twitter.com/hashtag/{{data.text}}" target="_blank">#{{data.text}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-12" style="height: 16px"></div>
  <div class="col-lg-12 scroll">
    <div class="row">
      <div class="col-lg-6 streamMedia" ng-repeat="m in media track by m.url">
        <a ng-href="http://{{m.url}}" target="_blank"><img ng-src="{{m.foto}}" alt="No imagen"></a>
      </div>
    </div>
  </div>
</div>
