<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/login.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="javascripts/main.js"></script>
        
    </head>
<body>
    <div class="middlePage">
        <div class="page-header">
          <h1 class="logo">M3 <small>Herramientas Twitter</small></h1>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Loqueate para usar la aplicación</h3>
            </div>
            <div class="panel-body">      
                <div class="row"> 
                    <div class="col-md-5" >
                    <!-- <a href="#"><img src="http://techulus.com/buttons/fb.png" /></a><br/> -->
                    <a href="#"><img src="http://techulus.com/buttons/tw.png" /></a><br/>
                    <!-- <a href="#"><img src="http://techulus.com/buttons/gplus.png" /></a> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>