@charset "UTF-8";
/* CSS Document */

body {
  width:100px;
	height:100px;
  background: -webkit-linear-gradient(90deg, #2B333D 10%, #333C47 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #2B333D 10%, #333C47 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #2B333D 10%, #333C47 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #2B333D 10%, #333C47 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #2B333D 10%, #333C47 90%); /* W3C */
  font-family: 'Raleway', sans-serif;
}

p {
	color:#CCC;
}

.spacing {
	padding-top:7px;
	padding-bottom:7px;
}
.middlePage {
	  width: 282px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo {
	color:#CCC;
}

a.btn{
  background: #1AB2E8;
  color: white;
  padding: 18px 0px;
  font-size: 17px;
  border: 2px solid #1AB2E8;
}
a.btn:hover{
  color:#1AB2E8;
  background: white;
  border: 2px solid #1AB2E8;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a.btn i{
  font-size: 19px;
}
